

img.Timg {
    width: 100%;
    max-height: 500;
}


.paging {
	text-align: center;
	margin: 5vh auto;

}

.card:hover {
	cursor: pointer;
}

.card {
    overflow: hidden;
    text-align: center;
    max-height: 700;
    margin: 20;
}
.banner {
	overflow: hidden;
    z-index: 2;
    position: relative;
    margin-top: -120px;
    width: 100%;
    height: 180px;
	background-size: cover;
    border-bottom: solid 1px lightgrey;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
}


.photo {
    z-index: 3;
    position: relative;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background-color: white;
    margin: 0 auto;
    background-image: url(https://filmshotfreezer.files.wordpress.com/2011/07/untitled-1.jpg);
    background-size: cover;
    background-position: 50% 50%;
	top: 100px;
    -webkit-box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.3);
    box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.3);
    -webkit-transition: top 0.7s ease-in-out, background 0.15s ease;
    -moz-transition: top 0.7s ease-in-out, background 0.15s ease;
    -o-transition: top 0.7s ease-in-out, background 0.15s ease;
    -ms-transition: top 0.7s ease-in-out, background 0.15s ease;
}

.card ul {
    list-style: none;
    text-align: center;
    padding-left: 0;
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 1.1rem;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
}
.card:hover a {
    text-shadow: -1px 0 3px #fff, 0 1px 3px #fff, 1px 0 3px #fff, 0 -1px 3px #fff;
	color: #feca01;
    text-decoration: none;
}

.card a{
    color: #000;
    text-decoration: none;
}

.card img.Timg{
    transition: 0.4s;
    transform-style: preserve-3d;
}

.card:hover img.Timg {
	transform:scale(1.5, 1.5); 
}

.card-text p {
    top: 50;
    width: 100%;
    display: block;
    position: absolute;
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: center;
    display: ;
    height: ;
}

.card .card-text p {
    text-shadow: -1px 0 3px #fff, 0 1px 3px #fff, 1px 0 3px #fff, 0 -1px 3px #fff;
}


