.container.allB {
	margin: 5vh auto 10vh;
}

.container.searchbox {
	margin: 20px auto 50px;
}

.container.basic-row {
	margin: 20px auto;
}

table {
	 TABLE-LAYOUT: fixed;
	 text-align: center;
}

#wbtn {
	margin: 0 0 20px 0;
}

a, a:hover {
	color: #000;
}
.paging {
	margin: 100px auto;
	text-align: center;
}



.qnatitle {
	width: 100%;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
th:nth-child(1), 
th:nth-child(3),
th:nth-child(4),

td:nth-child(1), 
td:nth-child(3), 
td:nth-child(4) {
	width: 20%;
	text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.basic-row .col-lg-10.col-md-10, 
.basic-row .col-lg-2.col-md-2 {
    width: 50%;
}

/* 푸터~~~~~~~ */

.fa {
	color: #5a6268;
}
footer {
  width: 100%;
  padding: 3vh;
  display: block;
  
}
.footer-copyright {
  font-weight: 300;
  overflow: hidden;
  height: 50px;
  line-height: 50px;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(51, 51, 51, 0.08);
}

.list-inline.mb-0 {
	float: right;
	display: block;
}

/* 푸터~~~~~~~ */

@media screen and (min-width: 484px) and (max-width: 767px) {
	.container{
		max-width: 100%;
	}
	
	table td, table th, #select {
		font-size: 1.4vh;
	}
} 


@media screen and (min-width: 440px) and (max-width: 483px) {
	.container{
		max-width: 100%;
	}
	
	table td, table th, #select {
		font-size: 1.2vh;
	}
} 


@media screen and (max-width: 439px) {
	.container{
		max-width: 100%;
	}
	
	table td, table th, #select {
		font-size: 1vh;
	}
	
	table td:first-child, table th:first-child,
	table td:last-child, table th:last-child {
		display: none;
	}
	
	th:nth-child(1), 
	th:nth-child(3), 
	th:nth-child(4),
	td:nth-child(1), 
	td:nth-child(3), 
	td:nth-child(4){
		width: auto;
	}
} 