/* 폰트 */
* {
	font-family: 'Noto Sans KR', sans-serif;
}


ul.first {
    padding: 0;
	text-align: center;
}

.first > li > a {
    font-size: 40px;
    font-weight: 900;
    display: block;
    text-decoration: none;
}

ul.second {
    padding: 0;
}

ul.third {
    display: contents;
}

.sitemap ul.second > li {
    border: 1px solid #feca01;
    width: 150;
    display: inline-table;
    margin-top: 20px;
    min-height: 170;
}

.sitemap ul.second > li > a {
	display: block;
    padding: 10 30;
    background-color: #feca01;
    color: #fff;
    font-weight: 900;
	transition: 0.4s;
    transform-style: preserve-3d;
}

.sitemap ul.third > li {
	display: block;
    padding: 10;
	text-align: center;    
	transition: 0.4s;
    transform-style: preserve-3d;
}

.sitemap ul.third > li > a {
    font-size: 14px;
}


.sitemap ul li a {
    text-align: center;
    color: #000;
}

