* {
	font-family: 'Noto Sans KR', sans-serif;
}

/*login부분 시작*/
.login_container{
	max-width: 600;
    width: 50%;
    margin: 50px auto 200px;
    border: 1px solid rgba(90, 98, 104, .4);
	border-radius: 10px;
} 

.row{
    padding-top: 1em;
    width: 80%;
    margin-left: 1px;
    margin: 0 auto;
    text-align: center;
}

.row:nth-child(5) {
    padding-bottom: 1rem;
}

#regi, #find{
    width: 150px;
    height: 30px;
    border: none;
    background-color: white;
}
#regi{
    width: 80px;
}
#find{
    width: 170px;
}
.findId{
	color: black;
	text-decoration: none;
}

a.findId, a.registerCateg:hover {
    color: black;
    float: right;
    font-size: 1.4vh;
    margin-right: 2px;
}

form {
  border-radius: 15px;
  background: #FFF;
  margin: 5vh 0;
}

input {
  border: none;
  border-bottom: 1px solid rgb(150, 150, 150);
  padding: 25px 0 12px 0;
  margin-bottom: 50px;
  font-size: 1rem;
  width: 100%;
  overflow: visible;
  outline-color: rgb(90, 98, 104);
  
}


.input-group>.custom-select:not(:last-child), .input-group>.form-control:not(:last-child) {
    border-radius: .25rem;
}

input::placeholder {
  opacity: .6;
  font-weight: 300;
  transform-origin: 0% 100%;
  transition: all .2s ease-in-out;
}

input:focus, button:focus {
	border: 1px solid rgb(90, 98, 104);
}

input:focus::placeholder {
  transform: translateY(-30px);
  font-size: .7rem;
}

.h2m {
	text-align: center;
}

.inputbb {
    margin: 0 auto;
}

.btn-group {
	width: 100%;
}

/* .btn.btn-outline-secondary:hover {
	background-color: #49AFD4;
	border-color: #49AFD4;
} */

.btn.btn-outline-secondary:hover {
	background-color: #feca01;
	border-color: #feca01;
}


@media screen and (max-width: 415px) {
	.login_container {
	    width: 95%;
	    margin: 50px auto 200px;
	    border: 1px solid rgba(90, 98, 104, .4);
	    border-radius: 10px;
	}
}



