/* 폰트 */
* {
	font-family: 'Noto Sans KR', sans-serif;
}

input:focus {
	outline: none;
}
/*튜터링수업*/

/* #upload{
  margin:0px auto 30px auto;
  max-width:600px;
} */
.container {
	margin: 5vh auto 0;
	width: 80%;
}
.container.info {
	    min-height: 65vh;
	margin: 5vh auto 0;
	border-bottom: 1px solid rgb(90, 98, 104);
	padding-bottom : 3rem;
}


.container.Butn {
    height: 10vh;
}

.mainTitleClass input.form-control.form-control-sm,
.subTitleClass input.form-control.form-control-sm {
    max-width: 80%;
}

.con{
	left: 1rem;
}
.mainTitleClass, 
.subTitleClass, 
.selectJob, 
.date, 
#Region1, 
.career, 
.money,
#insert,
.job{
	display: inline-table;
	margin: 10px 0;
    width: 100%;
}

#sample1 {
	margin: 10px 0;
    width: 100%;
	
}
#insert{
	margin: 0;
}

.notitle {
    margin-left: 0;
    margin: 20px 0;
}

.TimgD {
    height: 50vh;
}
.tutoringImg {
    border: 1px solid rgb(90, 98, 104);
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #ddd;
}

img#preview {
    margin: auto;
    transform: scale(1.5);
    height: 100%;
    display: block;
}
label#upload {
	text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: -50vh;
    padding: 25vh 0;
}
input[type="file"] {
	display: none;
    opacity: 0;
}


.con h6 {
	display: inline;
	float: left;
	font-weight: bold;
	width: 100;
	min-width: 100px;
}
.con .mainTitleClass, .subTitleClass{
	margin: 10px 0 10px -15px;
	width: 100%;
}

.con input[name="mainTitle"] {
	display: block;
}

button {
    float: right;
}


.date input {
	width: 100px;
	text-align: center;
	float: left;
}

.date p {
	float: left;
	font-weight: bold;
	margin: 0 10px;
}

#Region1 {
	width: 100%;
}

.day {
	margin-top: 10px;
}

.day ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
	margin-left: 90px;
}


.day ul li {
	width: 30px;
	float: left;
	text-align: center;
	color: #bbb;
	font-weight: normal;
	line-height: 200%;
	cursor: pointer;
	margin-right: 5px;
}

.day ul li a {
	display: block;
}

.day ul li.off {
	width: 33px;
	height: 33px;
	background: #e9e9e9;
	color: #999;
	border-radius: 40px;
}

.day ul li.on {
	width: 33px;
	height: 33px;
	background: #feca01;
	color: #fff;
	border-radius: 40px;
}

.day input {
	width: 300px;
	margin-left: 20px;
}

#sample1 {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-top: 10px;
	width: 100%;
}

#sample1 input {
	width: 100px;
	text-align: center;
	margin-right: 10px;
}

#sample1 input:nth-child(2) {
	width: 100px;
	text-align: center;
	margin-left: 10px;
}

#sample1 p {
	float: left;
}

.career {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
	margin-top: 10px;
}


.career li {
	float: left;
	margin-left: 10px;
	margin-bottom: 10px;
}

.career li:nth-child(1) {
	font-weight: bold;
	margin-left: 0px;
}

.career input,
.money input {
	float: left;
}

.money {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
	margin-top: 10px;
}


.money li {
	float: left;
	margin-left: 10px;
	margin-bottom: 10px;
}

.money li:nth-child(1) {
	font-weight: bold;
	margin-left: 0px;
}



.edit {
	width: 40%;
	background-color: #e7e7e7;
	color: black;
	margin-top: 20px;
	margin-right: 20px;
}

.edit:hover {
	background: #ddd;
}

.remove {
	width: 40%;
	background-color: #feca01;
	margin-top: 20px;
}

.remove:hover {
	background: #feca01;
}

.content {
	position: relative;
	margin-top: 20px;
	margin: 5vh auto 0;
}

.content .plan {
	display: inline-block;
	width: 100%;
	min-height: 50vh;
	margin: 2vh auto 0;
    padding: 30px;
}

.btn.btn-outline-secondary:hover {
	background-color: #feca01;
	border-color: #feca01;
}

.button {
	float: right;
	margin-bottom: 5vh;
}

.fas {
    line-height: 2px;
}
.onA,
.onA:hover,
#cd:hover {
	color: #feca01;
    margin: 0 0 15px 0;
}

#cd{
    margin: 0 0 15px 0;
	color: #c0c0c0;
}